<%= javascript_pack_tag 'Secret' %>

<div class="mv">
  <%= image_tag 'hero.png' %>
  <p id="page-top" style="display: block;">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  </p>
  <div class="container">
    <div id="react-entries"></div>
  </div>
  <div class="footer">
    ©︎2021 Ryota &amp; Maria Happy Wedding!
  </div>
</div>
