<div class="mv">
  <%= image_tag 'hero.png' %>
  <p id="page-top" style="display: block;">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  </p>
  <div class="container">
    <div class="gridbig">
      <a class="grid" href="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
        <img src="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
      </a>
    </div>
    <div class="gridtxt">
      <div class="in-gridtxt"><i class="far fa-smile"></i> 100点</div>
      散布流太郎
    </div>
  <div class="gridbig">
    <a class="grid" href="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
      <img src="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
    </a>
    </div>
    <div class="gridtxt">
      <div class="in-gridtxt"><i class="far fa-smile"></i> 100点</div>
      散布流太郎
    </div>
  <div class="gridbig">
    <a class="grid" href="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
      <img src="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
    </a>
    </div>
    <div class="gridtxt">
      <div class="in-gridtxt"><i class="far fa-smile"></i> 100点</div>
      散布流太郎
    </div>
  <div class="gridbig">
    <a class="grid" href="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
      <img src="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
    </a>
    </div>
    <div class="gridtxt">
      <div class="in-gridtxt"><i class="far fa-smile"></i> 100点</div>
      散布流太郎
    </div>
  <div class="gridbig">
    <a class="grid" href="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
      <img src="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
    </a>
    </div>
    <div class="gridtxt">
      <div class="in-gridtxt"><i class="far fa-smile"></i> 100点</div>
      散布流太郎
    </div>
  <div class="gridbig">
    <a class="grid" href="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
      <img src="https://girlydrop.com/wp-content/uploads/post/p518.jpg">
    </a>
    </div>
    <div class="gridtxt">
      <div class="in-gridtxt"><i class="far fa-smile"></i> 100点</div>
      散布流太郎
    </div>
  </div>
  <div class="footer">
    ©︎2021 Ryota &amp; Maria Happy Wedding!
  </div>
</div>
