@charset "UTF-8";
/* CSS Document */

body {
  background-color: #EEEEEE;
  /*▼スタイルのリセット追加*/
  margin: 0px;
  /*▼フォントの指定追加*/
  font-family: "Noto Sans CJK JP", "NotoSansCJKjp", "FontAwesome", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.container {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  background-color: #fff;
  column-count: 3;
  column-gap: 0;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .container {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .container {
    column-count: 2;
  }
}

.grid {
  padding: 5px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.text {
  padding: 20px;
  background-color: #e0f2f1;
}

.pic {
  padding: 5px 0;
  background-color: #222;
  color: #fff;
}

.grid > * {
  border-radius: 8px;
}

.pic > *:not(img) {
  padding: 0 20px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 50px;
  z-index: 99;
}

#page-top a {
  background: #A8A8A8;
  text-decoration: none;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  border-radius: 50px;
  opacity: 0.9;
  transition: all .3s ease;
}

.zoom-img {
  border-radius: 8px;
}

#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

.footer {
	font-size: 10px;
	text-align: center;
	color: #fff;
	padding: 20px 0;
	background-color: #666666;
}

/*▼letter-spacingを新規追加した気がする*/
.gridtxt{
	font-size: 12px;
	color: #666666;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
	letter-spacing: 1.2px;
}

/*▼点数表示のスタイル追加*/
.in-gridtxt {
	font-size: 16px;
	font-weight: bold;
}

/*▼画像の新しいクラス指定*/
.gridbig {
  padding: 5px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
